/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 ago. 2022, 10:04:46
    Author     : nisan
*/
.button{-fx-background-color:lightblue;
    -fx-background-radius: 8;
    -fx-font-size: 12;
    -fx-font-family:"Times New Roman";}
.button:pressed {
    -fx-background-color:white;
    -fx-padding: 8 15 15 15;
    
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c)
}